<!DOCTYPE html>
<html data-ng-app="boilerPlate">
	<head>
		<title>Boilerplate Application</title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
		
		<script type="text/javascript" src="components/angular/angular.min.js"></script>
		<script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/appRoute.js"></script>
		
		<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.min.js"></script>
		
		<script type="text/javascript" src="js/controllers/MainCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/SearchCtrl.js"></script>
	</head>
	<body ng-controller="MainController">
	  <input ng-model="myText">
	  {{myText}}
	  
	  <h3>Main controller at work</h3>
	  {{mainItem}}
	  <hr>
	  <h3>Angular Routing</h3>
	  <a href="/search">Search Page</a>
	  <div ng-view=""></div>
	</body>
</html>